.send-button {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 30px;
  padding-right: 30px;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 50px;

  @media screen and (max-width: $deviceviewport) {
    width: 316px;
  }
}

.social-button {
  width: 39px;
  height: 40px;
  margin: 0 30px;

  @media screen and (max-width: $deviceviewport) {
    margin: 0 20px;
  }
}
.program__item {
  text-align: center;

  width: 166px;
  height: 206px;
  margin-bottom: 114px;
  position: relative;

  @media screen and (max-width: $deviceviewport) {
    margin-bottom: 85px;
  }

  .program__name {
    font-size: 14px;
    font-weight: bold;
    color: #828282;
    margin-top: 26px;
    margin-bottom: 0;
  }

  .program__stars {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    width: 166px;
    position: absolute;
    bottom: 0;
  }
}
